version: "3.9"

services:
  scicapenter-app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./uploaded_pdfs:/app/uploaded_pdfs
      - ./pdffigures2_output:/app/pdffigures2_output
    env_file:
      - .env

  tunnel:
    image: ngrok/ngrok:latest
    command: http --domain=${NGROK_DOMAIN} scicapenter-app:8000
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    depends_on:
      - scicapenter-app
