version: "3.9"

services:
  scicapenter-app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./uploaded_pdfs:/app/uploaded_pdfs
      - ./pdffigures2_output:/app/pdffigures2_output
    env_file:
      - .env
